<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551015011121-i02j9f1nr0bs77ojepkv9fm6ikkaali5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551015011121-i02j9f1nr0bs77ojepkv9fm6ikkaali5</string>
	<key>API_KEY</key>
	<string>AIzaSyB4LPQu1t1-HRXwiFuB2jguhppKb2rlBaY</string>
	<key>GCM_SENDER_ID</key>
	<string>551015011121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tu.ac.cho.Instragram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-a2517</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-a2517.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551015011121:ios:d54c4497c67d3f5f799610</string>
</dict>
</plist>